<div class="card-header card-header-tabs card-header-primary">
  <div class="nav-tabs-navigation">
    <div class="nav-tabs-wrapper">
      <ul class="nav nav-tabs" data-tabs="tabs">
        <li class="nav-item cursor-pointer" *ngFor="let tab of tabs">
          <button class="nav-link" [class.active]="tabSelected.tabId == tab.tabId" data-toggle="tab"
            (click)="selectTab(tab)">
            <i class="nc-icon" [ngClass]="tab.icon"></i> {{tab.tabName}}
            <div class="ripple-container"></div>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
