<mat-tab-group>
  <mat-tab label="Credit/Debit">
    <div class="container">
      <div class="row">
        <span class="span-billing-information">BILLING INFORMATIONS</span>
      </div>
      <div class="row row-1">
        <mat-form-field appearance="outline">
          <mat-label>Card number</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>CVV</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Card holder name</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Valid date</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="row">
        <span class="span-process-payment">Process payment</span>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Cash">
    <div class="container">
      <div class="row">
        <span class="cash-payment">Thanh toán khi nhận hàng </span>
      </div>
      <div class="row">
        <span class="span-process-payment">Process payment</span>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Momo">
    <div class="container">
      <div class="row row-1">
        <mat-form-field appearance="outline">
          <mat-label>Partner code</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Access key</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Secret key</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Order id</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Order info</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Notify url</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Return url</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="row">
        <span class="span-process-payment">Process payment</span>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
