<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <span class="font-style-bold">User Address</span>
      <i class="fa fa-close float-right close icon-10 cursor-pointer" data-dismiss="modal" (click)="close()"></i>
    </div>
    <div class="modal-body">
      <section>
        <div class="row pl-3">
          <div class="col-md-4 pl-1">
            <div class="form-group">
              <label>Receiver</label>
              <input type="text" class="form-control" placeholder="Receiver" [(ngModel)]="address.receiver">
            </div>
          </div>
          <div class="col-md-4 pl-1">
            <div class="form-group">
              <label>Phone Number</label>
              <input type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="address.phoneNumber">
            </div>
          </div>
          <div class="col-md-4 pl-1">
            <div class="form-group">
              <label>Country</label>
              <app-dropdown [listData]="listCountry" [selectedItemId]="address.country" [allowNoSelect]="true"
                (selectedItemEmit)="address.country = $event.value"></app-dropdown>
            </div>
          </div>
          <div class="col-md-4 pl-1">
            <div class="form-group">
              <label>Province</label>
              <app-dropdown [listData]="listProvince" [selectedItemId]="address.province" [allowNoSelect]="true"
                (selectedItemEmit)="onChooseProvince($event)" [disabled]="!address.country" [required]="true">
              </app-dropdown>
            </div>
          </div>
          <div class="col-md-4 pl-1">
            <div class="form-group">
              <label>District</label>
              <app-dropdown [listData]="listDistrict" [selectedItemId]="address.district" [allowNoSelect]="true"
                (selectedItemEmit)="onChooseDistrict($event)" [disabled]="!address.province" [required]="true">
              </app-dropdown>
            </div>
          </div>
          <div class="col-md-4 pl-1">
            <div class="form-group">
              <label>Ward</label>
              <app-dropdown [listData]="listWard" [selectedItemId]="address.ward" [allowNoSelect]="true"
                (selectedItemEmit)="address.ward = $event.value" [disabled]="!address.district" [required]="true">
              </app-dropdown>
            </div>
          </div>
          <div class="col-12 pl-1">
            <div class="form-group">
              <label>Detail</label>
              <input type="text" class="form-control" placeholder="Detail" [(ngModel)]="address.detail">
            </div>
          </div>
          <div class="w-100 pl-2 pr-3 mb-0">
            <app-checkbox [checked]="address.isDefault" (checkedCallback)="address.isDefault = $event"
              class="d-inline-block pt-3" [text]="'is default address'"></app-checkbox>
            <button [disabled]="loading" class="btn btn-primary float-right " (click)="onSave()">
              <span *ngIf="!loading">Save</span>
              <app-loading-spinner *ngIf="loading" [color]="SpinnerColor.GrayLight" [type]="SpinnerType.GrowSmall">
              </app-loading-spinner>
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
