<div class="row">

  <div *ngIf="false" class="col-12 mt-5 mb-5">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Invoices</h5>
        <p class="card-category">24 Hours performance</p>
      </div>
      <div class="card-body ">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-3">
                    <div class="icon-big text-center icon-warning"><i class="nc-icon nc-globe text-warning"></i></div>
                  </div>
                  <div class="col-7 col-md-9">
                    <div class="numbers">
                      <p class="card-category">Total invoices</p>
                      <p class="card-title">150</p>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-3">
                    <div class="icon-big text-center icon-warning"><i class="nc-icon nc-money-coins text-success"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-9">
                    <div class="numbers">
                      <p class="card-category">Total before discount</p>
                      <p class="card-title">11.202.111 đ</p>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-3">
                    <div class="icon-big text-center icon-warning"><i class="nc-icon nc-vector text-danger"></i></div>
                  </div>
                  <div class="col-7 col-md-9">
                    <div class="numbers">
                      <p class="card-category">Total after discount</p>
                      <p class="card-title">11.202.111 đ</p>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-3">
                    <div class="icon-big text-center icon-warning"><i class="nc-icon nc-favourite-28 text-primary"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-9">
                    <div class="numbers">
                      <p class="card-category">Total discount price</p>
                      <p class="card-title">11.202.111 đ </p>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th> Name </th>
              <th> Country </th>
              <th> City </th>
              <th class="text-right"> Salary </th>
            </thead>
            <tbody>
              <tr>
                <td> Dakota Rice </td>
                <td> Niger </td>
                <td> Oud-Turnhout </td>
                <td class="text-right"> $36,738 </td>
              </tr>
              <tr>
                <td> Minerva Hooper </td>
                <td> Curaçao </td>
                <td> Sinaai-Waas </td>
                <td class="text-right"> $23,789 </td>
              </tr>
              <tr>
                <td> Sage Rodriguez </td>
                <td> Netherlands </td>
                <td> Baileux </td>
                <td class="text-right"> $56,142 </td>
              </tr>
              <tr>
                <td> Philip Chaney </td>
                <td> Korea, South </td>
                <td> Overland Park </td>
                <td class="text-right"> $38,735 </td>
              </tr>
              <tr>
                <td> Doris Greene </td>
                <td> Malawi </td>
                <td> Feldkirchen in Kärnten </td>
                <td class="text-right"> $63,542 </td>
              </tr>
              <tr>
                <td> Mason Porter </td>
                <td> Chile </td>
                <td> Gloucester </td>
                <td class="text-right"> $78,615 </td>
              </tr>
              <tr>
                <td> Jon Porter </td>
                <td> Portugal </td>
                <td> Gloucester </td>
                <td class="text-right"> $98,615 </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="false" id="loading">
            <img id="loading-image" src="assets/img/loading/loading.gif" alt="Loading..." />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
