$width-fixed-col-1: 40px;

$margin-left-col-2: 40px;
$width-fixed-col-2: 160px;

$total-width-fixed-columns: 200px;

.invoice-management {
  .fixed-scroller {
    margin-left: $total-width-fixed-columns;
  }

  .fixed-table {
    .fixed-sticky-col.col-checkbox {
      width: $width-fixed-col-1;
    }

    .fixed-sticky-col.col-id {
      margin-left: $margin-left-col-2;
      width: $width-fixed-col-2;
    }

    .fixed-sticky-col.text-center-all {
      padding-top: 15px;
    }
  }

  td {
    height: 50px !important;
  }
}

.modal-invoice-detail {
  input, textarea {
    background-color: #fff !important;
  }
}
