.selected-banner {
  background-color: #ddffff !important;
  border: 3px solid #ccc !important;
  border-color: #2196F3 !important;
}

.selected-order {
    border: 3px solid #ccc !important;
    border-color: #2196F3 !important;
}