<div class="col-md-12">
    <div class="row info-user">
        <form style="width: 100%;" name="changePasswordForm" [formGroup]="changePasswordForm">
            <div style="width: 100%; margin-top: 2%; margin-left: 5%;">
                <mat-label>Old Password</mat-label>
                <mat-form-field class="info-edit-1" appearance="outline">
                    <input matInput formControlName="oldPassword">
                </mat-form-field>
                <mat-error *ngIf="changePasswordFormErrors.oldPassword.required">
                    Last name is required
                </mat-error>
            </div>
            <div style="width: 100%; margin-left: 5%;">
                <mat-label>New Password</mat-label>
                <mat-form-field class="info-edit-2" appearance="outline">
                    <input matInput formControlName="newPassword">
                </mat-form-field>
                <mat-error *ngIf="changePasswordFormErrors.newPassword.required">
                    Last name is required
                </mat-error>
            </div>
            <div style="width: 100%; margin-left: 5%;">
                <mat-label>Retype New Password</mat-label>
                <mat-form-field class="info-edit-3" appearance="outline">
                    <input matInput>
                </mat-form-field>
                <mat-error *ngIf="changePasswordFormErrors.confirmPassword.required">
                    Last name is required
                </mat-error>
            </div>
        </form>
    </div>
    <div class="div-button-update">
        <button class="span-changepass" (click)="changePassword()" mat-flat-button [disabled]="!changePasswordForm.dirty || changePasswordForm.invalid">
            <mat-spinner style="margin:0 auto;" [strokeWidth]=3 [diameter]=30 *ngIf="(loadingAuth$ | async)?.updateEntity"></mat-spinner>
                <span *ngIf="!(loadingAuth$ | async)?.updateEntity">Change password</span>
        </button>
    </div>
</div>