.span-changepass {
  margin-top: -4%;
  cursor: pointer;
  width: 185px;
  height: 40px;
  color: rgb(51, 51, 51);
  font-size: 17px;
  font-weight: 500;
  padding: 0px;
  background: rgb(253, 210, 47);
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 4px;
  outline: none;
}
.info-user {
  border: 1px solid #ffe9e9;
  margin-top: 1.6em;
  background-color: white;
  margin-left: 2%;
  height: 345px;
  .info-edit-1 {
    margin-left: 6.6em;
    width: 40%;
  }
  .info-edit-2 {
    margin-left: 6.2em;
    width: 40%;
  }
  .info-edit-3 {
    margin-left: 4%;
    width: 40%;
  }
}

.div-button-update {
  position: absolute;
  margin-top: -7%;
  margin-left: 17.3em;
  font-size: 15px;
}
