.food-4 {
    border: 1px solid #ffe9e9;
    margin-top: 1.6em;
    background-color: white;
    margin-left: 2%;
    // height: 500px;
    .ul-food-4 {
        margin-top: 5%;
        border: 1px solid #ffe9e9;
    }
}
.info-food {
    list-style-type: none;
    .info-food-one {
        font-weight: 600;
        font-size: 15px;
        margin-top: 2%;
        margin-left: 3%;
        margin-bottom: -1%;
        text-align: center;
    }
    .info-food-two {
        font-size: 12px;
        margin-left: 3%;
        text-align: center;
    }
}