<div>
    <div style="background-color: white; margin-top: 5%;">
        <div class="row row-footer-1">
            <div class="col-md-2 col-footer-1">
                <p class="footer-1">Discover</p>
                <p>Mobile application</p>
                <p>Write a comment</p>
                <p>Reward</p>
                <p>Regulations</p>
            </div>
            <div class="col-md-2">
                <p class="footer-1">Company</p>
                <p>Introduce</p>
                <p>Feedback</p>
                <p>Investors</p>
                <p>Contact</p>
            </div>
            <div class="col-md-2">
                <p class="footer-1">Join on</p>
                <p>Facebook</p>
                <p>Instagram</p>
                <p>Youtube</p>
                <p>Google</p>
            </div>
            <div class="col-md-2">
                <p class="footer-1">License</p>
                <img class="img-footer-1" src="../../../../assets/img/giay-phep-dang-ky.png">
            </div>
            <div class="col-md-2">
                <img class="img-footer-2" src="https://profiles.dunsregistered.com/Images/seals/VN/xdgfkjghdf.png">
                <img class="img-footer-2" src="https://profiles.dunsregistered.com/Images/seals/VN/mxfdjhkgd.png">
                <img class="img-footer-2" src="https://profiles.dunsregistered.com/Images/seals/VN/dsxyhlkyl.png">
                <img class="img-footer-2" src="https://profiles.dunsregistered.com/Images/seals/VN/ewlxgfkgjfE.gif">
                <img class="img-footer-2" src=" https://profiles.dunsregistered.com/Images/seals/VN/dsafxhgljhkl.png">
            </div>

        </div>
    </div>
    <div class="row row-footer-2">
        <span class="span-footer-2">©2020 Panda Stores. No. 1, Vo Van Ngan, Linh Chieu Ward, Thu Duc District, Ho Chi Minh City</span>
        <span class="span-footer-2">Phone number: 0782408251 Email: pandastore@gmail.com</span>
        <span class="span-footer-2">Business Registration Certificate No. 0311828036 issued by Department of Planning and Investment of Ho Chi Minh City on 11/6/2012, 1st amendment, October 4, 2019</span>
        <span class="span-footer-2">License for setting up social networks on network number 363 / GP-BTTTT by Ministry of Information and Communications on June 30, 2019 Responsible person: Dao Xuan Thuy.</span>
    </div>
</div>