.date-picker-icon {
  background-color: white;
  border-color: #6c757d;
  border: .5px solid transparent;
  border-color: gray;
  margin: 0;
  color: black;
  font-size: large;
  padding: .375rem .75rem;
}

.border-required {
  border-color: red !important;
}

.icon-required {
  color: red !important;
}
