.container {
    .row {
        .all-white {
            background-color: white;
            margin-top: 2%;
            height: fit-content;
            .info-of-user {
                border-bottom: 1px solid #ffe9e9;
                margin-top: 2%;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 1%;
            }
            .list-info {
                list-style-type: none;
                margin-left: -25%;
                margin-top: 5%;
                .icon-right {
                    float: right;
                    margin-top: 2%;
                }
                .li-info-1 {
                    margin-top: 9%;
                    margin-bottom: 2%;
                }
            }
        }
    }
}