.table-order {
    margin-top: 1.5em;
    box-shadow: none;
    .box-shadow-off {
      box-shadow: none;
      .example-container {
        height: 333px;
        background: white;
        overflow: auto;
        table {
          width: 100%;
        }
      }
    }
  }
  